.each_station {
	list-style-type: none;
	overflow-wrap: break-word;
}

#map {
height: 100vh;
}

.each_station:hover {
	background: white;
	padding: 0pt;
	display: inline-block;
	color: black;
}

.each_station:active {
	color: blue;
}

.side-bar {
	background-color: #2C58AD;
	color: white;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100vh;
}

h2.big_title {
	margin: 0.4em;
}

.dropdown_list {
	margin-left: 0.8em;
	margin-bottom: 0.5em;
}

.divider {
	width:5px;
	height: auto;
	display:inline-block;
}

.reset_button {
	border-radius: 5px;
	margin-bottom: 0.5em;
}

.station_list {
	padding-left: 0.8em;
}

.news_title {
	color: white;
	margin: 0.4em;
	margin-left: 0em;
}

.article {
	list-style-type: none;
}

.article-list {
	padding-left: 0.1em;
}

.news-title {
	color: white;
	font-weight: bolder;
}

.news-title:hover {
	color: yellow;
}

.news-brief {
	font-size: 80%;
}

.news-date {
	font-size: 60%;
	margin: 0;
	text-align: left;
}

.news-divider {
	margin: 0.1em;
}