.station_list {
	list-style-type: none;
}

#map {
height: 100vh;
}

.station_list:hover {
	background-color: yellow;
}

.station_list:active {
	color: blue;
}

.side-bar {
	background-color: #2C58AD;
	color: white;
}