.each_station {
	list-style-type: none;
}

#map {
height: 100vh;
}

.each_station:hover {
	background: white;
	padding: 0pt;
	display: inline-block;
	color: black;
}

.each_station:active {
	color: blue;
}

.side-bar {
	background-color: #2C58AD;
	color: white;
}

h2.big_title {
	margin: 0.4em;
}

.dropdown_list {
	margin-left: 0.8em;
	margin-bottom: 0.5em;
}

.divider {
	width:5px;
	height: auto;
	display:inline-block;
}

.reset_button {
	border-radius: 5px;
	margin-bottom: 0.5em;
}

.station_list {
	padding-left: 0.8em;
}